In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("db1.sqlite3")

In [3]:
pwd

'/home/khyaathipython/batch62'

In [4]:
cur = con.cursor()

In [5]:
cur.execute("create table customer(id int, name varchar(250))")

In [6]:
q="insert into customer(id,name) values(1,'JAYARAM')"
cur.execute(q)

In [7]:
con.commit()

In [17]:
names=["samba","shiva","nikil","prashanth","kumar","akshitha","thapaswi","nabiha"]
import random
random.choice(names)

'shiva'

In [18]:
names=["samba","shiva","nikil","prashanth","kumar","akshitha","thapaswi","nabiha"]
import random
for i in range(2,102):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    print(q)
    break

insert into customer(id,name) values(2,'prashanth')

In [19]:
names=["samba","shiva","nikil","prashanth","kumar","akshitha","thapaswi","nabiha"]
import random
for i in range(2,102):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
    con.commit()

In [20]:
q="select * from customer"
cur.execute(q)

In [21]:
data = cur.fetchall()
print(data)

[(1, 'JAYARAM'), (2, 'kumar'), (3, 'shiva'), (4, 'kumar'), (5, 'nikil'), (6, 'nabiha'), (7, 'nabiha'), (8, 'shiva'), (9, 'shiva'), (10, 'nikil'), (11, 'nabiha'), (12, 'akshitha'), (13, 'shiva'), (14, 'prashanth'), (15, 'prashanth'), (16, 'nabiha'), (17, 'nikil'), (18, 'samba'), (19, 'kumar'), (20, 'prashanth'), (21, 'samba'), (22, 'shiva'), (23, 'nikil'), (24, 'thapaswi'), (25, 'samba'), (26, 'nikil'), (27, 'kumar'), (28, 'samba'), (29, 'nikil'), (30, 'kumar'), (31, 'kumar'), (32, 'nabiha'), (33, 'akshitha'), (34, 'nikil'), (35, 'samba'), (36, 'akshitha'), (37, 'prashanth'), (38, 'thapaswi'), (39, 'prashanth'), (40, 'kumar'), (41, 'thapaswi'), (42, 'nikil'), (43, 'kumar'), (44, 'prashanth'), (45, 'prashanth'), (46, 'thapaswi'), (47, 'nabiha'), (48, 'thapaswi'), (49, 'nikil'), (50, 'akshitha'), (51, 'thapaswi'), (52, 'kumar'), (53, 'thapaswi'), (54, 'nikil'), (55, 'prashanth'), (56, 'samba'), (57, 'shiva'), (58, 'prashanth'), (59, 'shiva'), (60, 'thapaswi'), (61, 'kumar'), (62, 'prashanth'), (63, 'nikil'), (64, 'akshitha'), (65, 'thapaswi'), (66, 'akshitha'), (67, 'akshitha'), (68, 'nabiha'), (69, 'nikil'), (70, 'thapaswi'), (71, 'samba'), (72, 'kumar'), (73, 'akshitha'), (74, 'nabiha'), (75, 'akshitha'), (76, 'nabiha'), (77, 'samba'), (78, 'samba'), (79, 'akshitha'), (80, 'samba'), (81, 'thapaswi'), (82, 'kumar'), (83, 'samba'), (84, 'samba'), (85, 'nikil'), (86, 'prashanth'), (87, 'akshitha'), (88, 'nabiha'), (89, 'thapaswi'), (90, 'prashanth'), (91, 'samba'), (92, 'nabiha'), (93, 'kumar'), (94, 'thapaswi'), (95, 'nabiha'), (96, 'shiva'), (97, 'thapaswi'), (98, 'shiva'), (99, 'shiva'), (100, 'shiva'), (101, 'shiva')]

In [22]:
q="select count(*) from customer"
cur.execute(q)
print(cur.fetchall())

[(101,)]

In [23]:
q="select count(*),name from customer group by(name)"
cur.execute(q)
print(cur.fetchall())

[(1, 'JAYARAM'), (11, 'akshitha'), (13, 'kumar'), (12, 'nabiha'), (13, 'nikil'), (12, 'prashanth'), (13, 'samba'), (12, 'shiva'), (14, 'thapaswi')]

In [24]:
q="select count(*) as c,name from customer group by(name) order by(c)"
cur.execute(q)
print(cur.fetchall())

[(1, 'JAYARAM'), (11, 'akshitha'), (12, 'nabiha'), (12, 'prashanth'), (12, 'shiva'), (13, 'kumar'), (13, 'nikil'), (13, 'samba'), (14, 'thapaswi')]

In [25]:
q="update customer set name='jayaram' where id=1"
cur.execute(q)
con.commit()

In [26]:
q="select count(*) as c,name from customer group by(name) order by(c)"
cur.execute(q)
print(cur.fetchall())

[(1, 'jayaram'), (11, 'akshitha'), (12, 'nabiha'), (12, 'prashanth'), (12, 'shiva'), (13, 'kumar'), (13, 'nikil'), (13, 'samba'), (14, 'thapaswi')]

In [28]:
q="delete from customer where name='samba'"
cur.execute(q)
con.commit()

In [29]:
q="select count(*) as c,name from customer group by(name) order by(c)"
cur.execute(q)
print(cur.fetchall())

[(1, 'jayaram'), (11, 'akshitha'), (12, 'nabiha'), (12, 'prashanth'), (12, 'shiva'), (13, 'kumar'), (13, 'nikil'), (14, 'thapaswi')]