In [1]:
a=10
b=20
print(a+b**2)

410

In [2]:
a=10
b=20
print((a+b)**2)

900

In [3]:
a=10
b=20
print(a**2+b**2+2ab)

SyntaxError: invalid syntax (<ipython-input-3-8975d1e1e111>, line 3)

In [4]:
a=10
b=20
print(a**2+b**2+2*a*b)

900

In [5]:
a=input("Enter a value:")
print(a, type(a))

Enter a value:python
python <class 'str'>

In [6]:
a=10
print(a,type(a))

10 <class 'int'>

In [7]:
a="10"
print(a,type(a))

10 <class 'str'>

In [8]:
a=True
print(a,type(a))

True <class 'bool'>

In [9]:
a="True"
print(a,type(a))

True <class 'str'>

In [10]:
a=[1,2,3,4]
print(a, type(a))

[1, 2, 3, 4] <class 'list'>

In [12]:
a='[1,2,3,4]'
print(a, type(a))

[1,2,3,4] <class 'str'>

In [13]:
a=input("enter a value:")
b=input("Enter b value:")
print(a+b)

enter a value:10
Enter b value:20
1020

In [14]:
a="10"
v="20"
a+v

'1020'

In [16]:
a="10"
b=int(a)
print(b,type(b))

10 <class 'int'>

In [17]:
a="10.23"
b=int(a)
print(b,type(b))

ValueError: invalid literal for int() with base 10: '10.23'

In [18]:
a="10.23"
b=float(a)
print(b,type(b))

10.23 <class 'float'>

In [19]:
a="10.23asdf"
b=float(a)
print(b,type(b))

ValueError: could not convert string to float: '10.23asdf'

In [20]:
a=input("enter a value:")

enter a value:1234

In [21]:
a=input("enter a value:")
b=int(a)

enter a value:12

In [22]:
a=input("enter a value:")
b=int(a)

enter a value:12.34

ValueError: invalid literal for int() with base 10: '12.34'

In [23]:
a=input("enter a value:")
b=int(a)

enter a value:werr34

ValueError: invalid literal for int() with base 10: 'werr34'

In [24]:
a=input("enter a value:")
b=float(a)

enter a value:12.34

In [25]:
a=input("enter a value:")
b=float(a)

enter a value:12.34wrt

ValueError: could not convert string to float: '12.34wrt'

In [27]:
a=input("enter a value:")
b=float(a)
print(b, type(b))

enter a value:12
12.0 <class 'float'>

In [28]:
9/5

1.8

In [29]:
a=input("enter temparature in celcius:")
c=float(a)
f= c * (9/5) +32

enter temparature in celcius:30

In [30]:
print(f)

86.0

In [31]:
a=input("enter temparature in celcius:")
c=float(a)
f= c * 9/5 +32
print(f)

enter temparature in celcius:30

In [32]:
print(f)

86.0

In [33]:
# Today very 'cool' in "Hyderabad"

In [34]:
"""
this is for multiline comment
"""
print()

In [35]:
'''
this is for multiline comment

'''

print()

In [36]:
print("Today very 'cool' in "Hyderabad"")

SyntaxError: invalid syntax (<ipython-input-36-97bfdcfcdc70>, line 1)

In [37]:
print("Today very 'cool' in \"Hyderabad\"")

Today very 'cool' in "Hyderabad"

In [38]:
print('Today very \'cool\' in "Hyderabad"')

Today very 'cool' in "Hyderabad"

In [39]:
# take a costprice and discount and profit from the user and calculate the MRP and sales price.
cp = input("enter costprice:")
dis = input("enter dicsount:")
pro = input("enter profit:")
cp = float(cp)
dis = float(dis)
pro = float(pro)
mrp = cp+dis+pro
sp = mrp-dis
print("the product details: cost price-->",cp)

enter costprice:2000
enter dicsount:100
enter profit:200
the product details: cost price--> 2000.0

In [40]:
print("the product details: cost price:cp")

the product details: cost price:cp

In [41]:
print("the product details: cost price:{cp}")

the product details: cost price:{cp}

In [42]:
print(f"the product details: cost price:{cp}")

the product details: cost price:2000.0

In [43]:
# take a costprice and discount and profit from the user and calculate the MRP and sales price.
cp = input("enter costprice:")
dis = input("enter dicsount:")
pro = input("enter profit:")
cp = float(cp)
dis = float(dis)
pro = float(pro)
mrp = cp+dis+pro
sp = mrp-dis
print(f"the product details: cost price:{cp}\nsales price:{sp}\nMRP:{mrp}\nprofit:{pro}\ndiscount:{dis}")

enter costprice:2000
enter dicsount:100
enter profit:200
the product details: cost price:2000.0
sales price:2200.0
MRP:2300.0
profit:200.0
discount:100.0

In [45]:
n=10/3
print(n)

3.3333333333333335

In [46]:
n=10/3
print(round(n,2))

3.33

In [47]:
# format specifiers..
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print("the jayaram details are: Age:2, Weight:13.46, Height:5.67834")

the jayaram details are: Age:2, Weight:13.46, Height:5.67834

In [48]:
l=[10,20,3,4,6,7,8]
print(10)

10

In [49]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print("the jayaram details are:")

the jayaram details are:

In [50]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are:")

the jayaram details are:

In [51]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:")

the jayaram details are: Age:

In [52]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{age}")

the jayaram details are: Age:2.3456

In [53]:
f=12.34
print(int(f))

12

In [54]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}")

the jayaram details are: Age:2

In [55]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:")

the jayaram details are: Age:2, Weight:

In [56]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{weight}")

the jayaram details are: Age:2, Weight:13.456789

In [57]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}")

the jayaram details are: Age:2, Weight:13.46

In [58]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")

the jayaram details are: Age:2, Weight:13.46, Height:5.67834

In [59]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The jayarma details are")

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The jayarma details are

In [60]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are",name)

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The %s details are jayaram

In [61]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are"name)

SyntaxError: invalid syntax (<ipython-input-61-d09a82114afe>, line 7)

In [62]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are",name)

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The %s details are jayaram

In [63]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are"%name)

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The jayaram details are

In [64]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are: Age:%s"%(name,age))

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The jayaram details are: Age:2.3456

In [65]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are: Age:%d"%(name,age))

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The jayaram details are: Age:2

In [66]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are: Age:%d, Weight:%s"%(name,age,weight))

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The jayaram details are: Age:2, Weight:13.456789

In [67]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are: Age:%d, Weight:%f"%(name,age,weight))

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The jayaram details are: Age:2, Weight:13.456789

In [68]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are: Age:%d, Weight:%.2f"%(name,age,weight))

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The jayaram details are: Age:2, Weight:13.46

In [69]:
name="jayaram"
age=2.3456
weight=13.456789
height=5.67834
# the jayaram details are: Age:2, Weight:13.46, Height:5.67834
print(f"the {name} details are: Age:{int(age)}, Weight:{round(weight,2)}, Height:{height}")
print("The %s details are: Age:%d, Weight:%.2f, Height:%s"%(name,age,weight,height))

the jayaram details are: Age:2, Weight:13.46, Height:5.67834
The jayaram details are: Age:2, Weight:13.46, Height:5.67834

In [70]:
print("hello","hi")

hello hi

In [71]:
print("hello","hi",sep=";")

hello;hi

In [72]:
print("hi")
print("hello")

hi
hello

In [73]:
print("hello\nhi")

hello
hi

In [74]:
print?

In [75]:
print("hi")
print("hello")

hi
hello

In [76]:
print("hi",end=" ")
print("hello")

hi hello

In [77]:
print("sdfklsdjf;lkp jweroij iswjfiosjd sdijfsdnmkosd 
      f oiksdjfoiksjfoiksdjoifjsdipo sdjfiosdjfisodjfoids osdjoifjsdaoifjsdoiapju")

SyntaxError: EOL while scanning string literal (<ipython-input-77-d3cf28e14b7e>, line 1)

In [78]:
print("sdfklsdjf;lkp jweroij iswjfiosjd sdijfsdnmkosd\
      f oiksdjfoiksjfoiksdjoifjsdipo sdjfiosdjfisodjfoids osdjoifjsdaoifjsdoiapju")

sdfklsdjf;lkp jweroij iswjfiosjd sdijfsdnmkosd      f oiksdjfoiksjfoiksdjoifjsdipo sdjfiosdjfisodjfoids osdjoifjsdaoifjsdoiapju